// Fonts
$font-size: 16px;
$montserrat: 'Montserrat', sans-serif;
$naestante: 'phosphatesolidmedium';

// Colors
$black: #000;
$mentores: #46a4d9;
$primary: #fdc82d;
$secondary: #E77E12;
$shadow: #F5E188;

$backgroundRadial: linear-gradient(to right, rgba(252,204,37,1) 0%,rgba(245,227,143,1) 5%,rgba(253,202,39,1) 30%,rgba(253,202,39,1) 100%)